<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
    <div class="header_text d-flex">
        <h2> {{'welcome_to' | translate}}<br>TripUp</h2>
        <div class="logo end">
            <img src="assets/imgs/logo.png">
        </div>
    </div>
</ion-header>

<ion-content>
    <div class="socila_section">
        <p> {{'continue_with_social_account' | translate}}</p>
        <ion-row>
            <ion-col size="6">
                <ion-button mode="md" size="large" shape="block" fill="outline" class="btn" (click)="tabs()">
                    <img src="assets/imgs/fb.png"> {{'facebook' | translate}}
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button mode="md" size="large" shape="block" fill="outline" class="btn" (click)="tabs()">
                    <img src="assets/imgs/google.png"> {{'google' | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </div>

    <div class="form">
        <h2> {{'or_signin_with_your_account' | translate}}</h2>
        <ion-list lines="none">
            <ion-item lines="none">
                <div class="item_inner">
                    <ion-label mode="md">{{'email_phone_number' | translate}}</ion-label>
                    <ion-input mode="md" type="text" value="+1 987 654 310"></ion-input>
                </div>
            </ion-item>
            <ion-item lines="none">
                <div class="item_inner">
                    <ion-label mode="md" class="d-flex">{{'password' | translate}} <span class="end">{{'forgot' | translate}}</span></ion-label>
                    <ion-input class="password" mode="md" type="password" value="222222"></ion-input>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-row>
        <ion-col size="6" class="ion-no-padding">
            <ion-button mode="md" size="large" shape="full" fill="clear" class="btn" (click)="sign_up()">
                {{'sign_up' | translate}}
            </ion-button>
        </ion-col>

        <ion-col size="6" class="ion-no-padding">
            <ion-button mode="md" size="large" shape="full" class="btn" (click)="tabs()">
                {{'sign_in_now' | translate}}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>