ion-header {
    height: auto;
    overflow: hidden;

    ion-toolbar {
        align-items: flex-start !important;

        ion-buttons ion-back-button {
            --color: var(--white) !important;
        }

        ion-title {
            padding-top: 13px !important;
            padding-bottom: 13px !important;

            h2 {
                color: var(--white);
                margin: 0;
                font-size: 1.35rem;
                font-weight: 500;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-bottom: 5px;
            }

            p {
                margin: 0;
                color: var(--text-light);
                line-height: normal;
                font-size: .75rem;
                letter-spacing: 0;
                font-weight: 400;

                ion-icon {
                    min-width: 20px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 3px;
                        height: 3px;
                        background: var(--white);
                        margin: auto;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .header_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

ion-list {
    margin: 0;
    background: none;
    padding: 0;

    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent);
        background: var(--white);
        position: relative;
        overflow: hidden;
        padding: 4px 0 0 0;
        margin-bottom: 8px;
        box-shadow: 0 7px 11px -11px rgba(0, 0, 0, 0.1);

        .item_inner {
            width: 100%;
            position: relative;

            .scroll_container {
                white-space: nowrap;
                overflow: hidden;
                overflow-x: auto;
                position: relative;
                height: 120px;

                .img_box {
                    display: inline-block;
                    width: 190px;
                    height: 120px;
                    margin-right: .7px;
                    position: relative;
                    overflow: hidden;
                    margin: 0 2px;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        bottom: 0;
                        left: -50% !important;
                        right: -50% !important;
                        margin: auto;
                    }

                    &:first-of-type {
                        margin-left: 4px;
                    }

                    &:last-of-type {
                        margin-right: 4px;
                    }

                }
            }

            ion-badge {
                background: var(--green-color);
                --background: var(--transparent);
                --color: var(--white);
                --padding-bottom: 0;
                --padding-end: 0;
                --padding-start: 0;
                --padding-top: 0;
                border-radius: 3px;
                font-weight: 400;
                font-size: 0.8rem;
                min-width: 42px;
                height: 22px;
                line-height: 22px;
                position: absolute;
                top: 90px;
                left: 15px;
                z-index: 1;

                ion-icon {
                    font-size: .75rem;
                    position: relative;
                    top: 1px;
                }

            }

            .item_details {
                position: relative;
                overflow: hidden;
                padding: 10px 15px 10px 15px;

                h2 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 600;
                    position: relative;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 1.1rem;
                        color: var(--white);
                        font-weight: 500;
                        margin-left: auto;
                        min-width: fit-content;
                    }
                }

                p {
                    color: var(--text-light);
                    font-size: .75rem;
                    font-weight: 400;
                    position: relative;
                    margin: 0;
                    opacity: 0.6;

                    span {
                        color: var(--white);
                        font-size: .7rem;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 145px;
                    right: 0;
                    height: 100%;
                    background: var(--theme-gradient);

                }
            }

            .item_footer {
                background: #f7fafb;
                padding: 6px 11px 6px 11px;

                span {
                    font-size: .7rem;
                    font-weight: 500;
                    color: var(--text-black);
                    width: auto;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;

                    &:first-child {
                        margin-left: 0;
                    }

                    ion-icon {
                        color: var(--text-black);
                        font-size: .85rem;
                        display: block;
                        min-width: 20px;
                    }
                }
            }
        }
    }
}

ion-footer {
    ion-row {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 1px;
            height: 100%;
            margin: auto;
            background: black;
            opacity: .3;
        }

        ion-col {
            padding: 0;

            .button.btn {
                ion-icon {
                    font-size: 1.1rem;
                    min-width: 24px;
                }
            }
        }
    }

}