ion-header .header_text h2{
    padding-bottom: 0;
}

.text_container {
    padding: 0 17px;

    h2 {
        margin: 0;
        color: var(--text-light);
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        letter-spacing: 0.3px;
        max-width: calc(100% - 0px);
        padding-bottom: 21px;

    }

    p {
        margin: 0;
        margin-bottom: 21px;
        font-size: .95rem;
          line-height: 21px;
    }
}