.payment_options {
    background: var(--bg-color);
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 18px;
        padding: 0 15px;
        color: var(--text-dark);
    }

    ion-list {
        margin: 0;
        padding: 0;
        background: none; 

        ion-radio-group {
            white-space: nowrap;
            display: block;
            width: 100%;
            overflow-x: auto;
        }

        ion-item {
            --min-height: unset !important;
            --inner-padding-end: 0px;
            --inner-min-height: unset !important;
            --padding-start: 0;
            --highligh-color-focused: var(--transparent) !important;
            --background: var(--transparent) !important;
            --background-activated: var(--transparent) !important;
            --background-activated-opacity: 1;
            --background-hover: var(--transparent) !important;
            --ripple-color: var(--transparent) !important;
            background: var(--white);
            width: 130px;
            height: 105px;
            padding: 0px 15px 0px 15px;
            border-radius: 3px;
            overflow: hidden;
            display: inline-block;
            margin: 0 4px;
            border: 1px solid rgba(255, 0, 0, 0) !important;

            ion-radio {
                position: absolute;
                z-index: 999;
                width: 100%;
                height: 100%;
                margin: 0;
                --color: var(--transparent) !important;
                --color-checked: var(--transparent) !important;

            }

            ion-label {
                width: 100% !important;
                position: relative;
                max-width: 100% !important;
                font-size: 1.1rem !important;
                color: var(--primary) !important;
                font-weight: 400;
                margin: 0;

                img {
                    display: block;
                    width: 55px;
                    margin: 0 auto;
                    margin-top: 19px;

                }

                h3 {
                    color: var(--text-black);
                    margin: 0;
                    font-size: 1rem;
                    margin-top: 15px;
                    font-weight: 700;
                }

            }

            &:first-child {
                margin-left: 16px;
            }

            &:last-child {
                margin-right: 16px;
            }

            &.item-radio-checked {
                border-color: var(--primary) !important;
            }
        }
    }
}

.form{
    padding-top: 20px;
    ion-row{
        ion-col{
            padding: 0 5px;
        }
    }
}