<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'confirm_booking' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="banner">
        <div class="containt">
            <ion-row class="hotel_name">
                <ion-col size="12">
                    <h3>{{'hotel_name' | translate}}</h3>
                    <h2>Hotel Sky Garden</h2>
                </ion-col>
            </ion-row>     
            
            <ion-row>
                <ion-col size="12">
                    <h3>{{'address' | translate}}</h3>
                    <h2>City park, Manhattan</h2>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    <h3>{{'check_in' | translate}}</h3>
                    <h2>23 Jun, 12:35 am</h2>
                </ion-col>
                <ion-col size="6" class="ion-text-end">
                    <h3>{{'check_out' | translate}}</h3>
                    <h2>24 Jun, 10:00 am</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <h3>{{'room_num' | translate}}</h3>
                    <h2>B112</h2>
                </ion-col>
                <ion-col size="6" class="ion-text-end">
                    <h3>{{'total_guest' | translate}}</h3>
                    <h2>02</h2>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>



<ion-footer class="ion-no-border">
    <div class="payment_info">
        <h1>{{'payment_info' | translate}}</h1>
        <h2 class="d-flex">{{'fare_charges' | translate}}<span class="end">$ 100.00</span></h2>
        <h2 class="d-flex">{{'convenince_charges' | translate}}<span class="end">$ 10.00</span></h2>
        <h2 class="d-flex">{{'cancellation_charges' | translate}}<span class="end">$ 5.00</span></h2>
    </div>
    <ion-button mode="md" size="large" shape="full" class="btn" (click)="payment()">{{'continue_to_pay' | translate}} $175.00</ion-button>
</ion-footer>