ion-header {
    height: auto;
    overflow: hidden;

    ion-toolbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        ion-buttons ion-back-button {
            --color: var(--white) !important;
        }
    }
}

.banner {
    background: var(--white);

    ion-slides {
        --bullet-background: var(--text-light);
        --bullet-background-active: var(--white);

        .slide_box {
            display: block;
            width: 100%;

            .profile_img {
                width: 100%;
                height: 210px;
            }
        }

    }

    .banner_details {
        padding: 13px 18px;
        padding-bottom: 15px;

        h2 {
            font-size: 1.15rem;
            font-weight: 700;
            letter-spacing: normal;
            margin: 0;
            color: var(--text-black);
            padding-bottom: 3px;

            span {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

            }

            ion-badge {
                background: var(--green-color);
                --background: var(--transparent);
                --color: var(--white);
                --padding-bottom: 0;
                --padding-end: 0;
                --padding-start: 0;
                --padding-top: 0;
                border-radius: 3px;
                font-weight: 400;
                font-size: 0.75rem;
                min-width: 60px;
                height: 22px;
                line-height: 22px;

                ion-icon {
                    font-size: .75rem;
                    position: relative;
                    top: 1px;
                }

            }
        }

        h3 {
            color: var(--text-light);
            margin: 0;
            font-size: .75rem;
            font-weight: 400;
            opacity: .7;
        }
    }
}

ion-list {
    margin: 0;
    background: none;
    padding: 0;
    margin-top: 5px;


    ion-segment {
        border: none !important;
        background: var(--white) !important;
        border-radius: 0px;
        margin: 0;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 5px;

        ion-segment-button {
            background: none !important;
            position: relative;
            font-size: 1.1rem;
            font-weight: 500;
            text-transform: unset !important;
            letter-spacing: 0;
            --background-checked: var(--transparent) !important;
            --background-focused: var(--transparent) !important;
            --border-width: 0 !important;
            --border-radius: 0 !important;
            box-shadow: none !important;
            --indicator-color: var(--transparent) !important;
            --indicator-box-shadow: none !important;
            --ripple-color: var(--transparent) !important;
            --color: var(--text-dark) !important;
            --color-checked: var(--text-dark) !important;
            --color-hover: var(--text-dark) !important;
            --background-hover: var(--transparent) !important;
            --padding-start: 0;
            --padding-end: 0;
            min-height: 43px;
            min-width: 107px;
            opacity: 0.7;

            ion-label {
                margin: 11px 0;
                letter-spacing: 0;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0%;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 0;
                height: 3.5px;
                background: var(--primary);
                z-index: -1;
                transition: all .4s;

            }

            &.segment-button-checked {
                color: var(--primary) !important;
                opacity: 1;

                &::before {
                    width: 76px;

                }
            }
        }
    }

    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        width: calc(100% - 0px);
        margin: 0 auto;
        margin-bottom: 5px;
        border-radius: 0px;
        padding: 18px 18px;
        background: var(--white);

        .item_inner {
            width: 100%;

            h2 {
                margin: 0;
                color: var(--text-dark);
                opacity: .7;
                font-size: 1.2rem;
                padding-bottom: 16px;
                letter-spacing: .5px;
            }

        }

        &.amenities {
            padding-left: 0;
            padding-right: 0;

            .item_inner {
                h2 {
                    padding-left: 18px;
                    padding-right: 18px;
                }

                .scroll-x {
                    white-space: nowrap;
                    overflow-x: auto;
                    display: block;

                    .scroll_box {
                        display: inline-block;
                        width: 52px;
                        min-width: fit-content;
                        margin: 0 3px;
                        padding: 0 2px;

                        &:first-child {
                            margin-left: 18px;
                        }

                        &:last-child {
                            margin-right: 18px;
                        }

                        ion-icon {
                            color: var(--primary);
                            font-size: 1.1rem;
                        }

                        p {
                            color: var(--text-dark);
                            font-size: 0.85rem;
                            font-weight: 500;
                            margin: 0;
                            margin-top: 2px;
                            letter-spacing: 0;
                            opacity: .9;
                        }
                    }
                }
            }
        }

        &.about {
            .item_inner {
                h2 {
                    padding-bottom: 0;
                }

                p {
                    margin: 0;
                    font-size: .8rem;
                    line-height: 18px;
                    padding-top: 8px;
                    color: var(--text-black)
                }
            }
        }

        &.travellers {
            background: #f7fafb;

            p {
                margin: 0;
                font-weight: 500;
                color: var(--text-dark);
                font-size: 1rem;

                span {
                    opacity: 0.7;

                    &.end {
                        color: var(--primary);
                        opacity: 1;
                    }
                }

                ion-icon {
                    min-width: 23px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 5px;
                        height: 5px;
                        background: var(--primary);
                        margin: auto;
                        border-radius: 50%;
                    }
                }
            }
        }

        &.tab_container {
            .item_inner {
                .tab_containt {
                    h2 {
                        margin: 0;
                        font-weight: 500;
                        color: #5e5e5e;
                        font-size: .95rem;
                        opacity: 1;
                        padding-bottom: 5px;

                        span {
                            color: var(--primary);
                        }
                        &:last-child{
                             padding-bottom: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

ion-footer {
    background: var(--primary);
    padding: 16px 18px;

    h2 {
        margin: 0;
        color: var(--white);
        font-size: 1.15rem;

        small {
            font-size: .75rem;
            font-weight: 500;
            opacity: 0.5;
            letter-spacing: 0;
        }

        span {
            font-size: 0.95rem;
            font-weight: 500;
            letter-spacing: 1.5px !important;
        }
    }
}