ion-tabs {
    ion-tab-bar {
        --background: var(--white) !important;
        --ripple-color: var(--transparent) !important;
        box-shadow: 0 -3px 39px -14px rgba(0, 0, 0, 0.5) !important;

        ion-tab-button {
            --ripple-color: var(--transparent) !important;
            position: relative;
            overflow: hidden;

            ion-label {
                color: var(--text-dark);
                font-weight: 600;
                letter-spacing: 0;
                font-size: 0.8rem;
                text-transform: unset;
                position: relative;
            }

            ion-icon {
                color: var(--text-dark);
                font-size: 1.15rem;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 0;
                height: 2.5px;
                background: var(--primary);
                transition: all .3s;
            }

            &.tab-selected {
                ion-label {
                    color: var(--primary);
                    opacity: 1;
                }

                ion-icon {
                    color: var(--primary);
                    opacity: 1;
                }
                &::after{
                    width: 45px;
                }
            }
        }
    }
}