.form {
    padding-top: 13px;

    .profile_img {
        position: relative;
        width: 87px;
        height: 75px;

        .img_box {
            max-width: 75px;
            min-width: 75px;
            height: 75px;
            background: #c9c9c9;
            border-radius: 4px;
        }

        ion-icon {
            background: var(--primary);
            border-radius: 50%;
            color: var(--white);
            position: absolute;
            top: -4px;
            right: 0;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            font-size: 1rem;
        }
    }


    ion-list {
        margin-top: 30px;
    }
}