
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title> </ion-title>
    </ion-toolbar>
    <div class="header_text">
        <h2 class="d-flex">Hotel Sky Garden
            <ion-badge class="end">4.7 <ion-icon class="zmdi zmdi-star"></ion-icon>
            </ion-badge>
        </h2>
        <h3 class="d-flex"><span>City park, Manhattan</span></h3>
    </div>
</ion-header>

<ion-content class="bg_color">
    <ion-slides autoplay="5000" loop="true" speed="500" pager dir="ltr">
        <ion-slide>
            <div class="slide_box">
                <div class="img_box center_img">
                    <img src="assets/imgs/hotel_1.png">
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="slide_box">
                <div class="img_box center_img">
                    <img src="assets/imgs/hotel_2.png">
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="slide_box">
                <div class="img_box center_img">
                    <img src="assets/imgs/hotel_1.png">
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="slide_box">
                <div class="img_box center_img">
                    <img src="assets/imgs/hotel_2.png">
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>