ion-header {
    height: auto;
    overflow: hidden;

    ion-toolbar {
        align-items: flex-start !important;

        ion-buttons ion-back-button {
            --color: var(--white) !important;
        }

        ion-title {
            padding-top: 13px !important;
            padding-bottom: 13px !important;

            h2 {
                color: var(--white);
                margin: 0;
                font-size: 1.35rem;
                font-weight: 500;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-bottom: 5px;
            }

            p {
                margin: 0;
                color: var(--text-light);
                line-height: normal;
                font-size: .75rem;
                letter-spacing: 0;
                font-weight: 400;

                ion-icon {
                    min-width: 20px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 3px;
                        height: 3px;
                        background: var(--white);
                        margin: auto;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .header_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.banner {
    background: var(--white);

    .banner_details {
        padding: 13px 18px;
        padding-bottom: 15px;

        .banner_img {
            position: relative;
            display: block;
            width: 115px;
            margin-bottom: 15px;
            margin-top: 8px;
        }

        h2 {
            font-size: 1.15rem;
            font-weight: 700;
            letter-spacing: normal;
            margin: 0;
            color: var(--text-black);
            padding-bottom: 3px;

            span {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

            }

            ion-badge {
                background: var(--green-color);
                --background: var(--transparent);
                --color: var(--white);
                --padding-bottom: 0;
                --padding-end: 0;
                --padding-start: 0;
                --padding-top: 0;
                border-radius: 3px;
                font-weight: 400;
                font-size: 0.75rem;
                min-width: 43px;
                height: 22px;
                line-height: 22px;

                ion-icon {
                    font-size: .75rem;
                    position: relative;
                    top: 1px;
                }

            }
        }

        h3 {
            color: var(--text-light);
            margin: 0;
            font-size: .75rem;
            font-weight: 400;
            opacity: .7;
        }
    }
}

ion-list {
    margin: 0;
    background: none;
    padding: 0;
    margin-top: 5px;

    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        width: calc(100% - 0px);
        margin: 0 auto;
        margin-bottom: 5px;
        border-radius: 0px;
        padding: 18px 18px;
        background: var(--white);

        .item_inner {
            width: 100%;

            h2 {
                margin: 0;
                color: var(--text-dark);
                opacity: .7;
                font-size: 1.2rem;
                padding-bottom: 16px;
                letter-spacing: .5px;
            }

        }

        &.facilities {
            .item_inner {
                .scroll-x {
                    white-space: nowrap;
                    //                    overflow-x: auto;
                    display: flex;
                    align-items: center;

                    .scroll_box {
                        width: 52px;
                        margin: 0 auto;
                        text-align: center;

                        ion-icon {
                            color: var(--primary);
                            font-size: 1.1rem;
                        }

                        p {
                            color: var(--text-dark);
                            font-size: .8rem;
                            font-weight: 500;
                            margin: 0;
                            margin-top: 2px;
                        }
                    }
                }
            }
        }

        &.about {
            .item_inner {
                h2 {
                    padding-bottom: 0;
                }

                p {
                    margin: 0;
                    font-size: .8rem;
                    line-height: 18px;
                    padding-top: 8px;
                    color: var(--text-black)
                }
            }
        }

        &.cab_company {
            .item_inner {
                .details {
                    .img_box {
                        min-width: 35px;
                        max-width: 35px;
                        height: 35px;
                        border-radius: 4px;
                        margin-right: 16px;
                    }

                    h3 {
                        font-size: 1rem;
                        font-weight: 700; 
                        margin: 0;
                        color: var(--text-black); 

                        span {
                            color: var(--text-light);
                            margin: 0;
                            font-size: 0.75rem;
                            font-weight: 400;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

ion-footer {
    background: var(--primary);
    padding: 16px 18px;

    h2 {
        margin: 0;
        color: var(--white);
        font-size: 1.15rem;

        small {
            font-size: .75rem;
            font-weight: 500;
            opacity: 0.5;
            letter-spacing: 0;
        }

        span {
            font-size: 0.95rem;
            font-weight: 500;
            letter-spacing: 1.5px !important;
        }
    }
}