<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'confirm_booking' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="banner">
        <div class="flight_details d-flex">
            <div class="flight_img center_img">
                <img src="assets/imgs/2.png" class="crop_img">
            </div>
            <div class="text">
                <h2>Opera Taxi Services</h2>
                <h3>725 people rated </h3>
            </div>
        </div>
        <div class="form">
            <ion-list lines="none">
                <ion-item>
                    <div class="item_inner d-flex">
                        <ion-icon class="zmdi  zmdi-long-arrow-up"></ion-icon>
                        <div class="text_box">
                            <h4>{{'pick_up_location' | translate}}</h4>
                            <h2>Houstone, USA</h2>
                        </div>
                        <div class="text_box date_time end ion-text-end">
                            <h4>{{'pick_up_date' | translate}}</h4>
                            <h2>23 Jun, 2019</h2>
                        </div>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="item_inner d-flex">
                        <ion-icon class="zmdi  zmdi-long-arrow-down"></ion-icon>
                        <div class="text_box">
                            <h4>{{'drop_location' | translate}}</h4>
                            <h2>Manhattan, USA</h2>
                        </div>
                        <div class="text_box date_time end ion-text-end">
                            <h4>{{'pick_up_time' | translate}}</h4>
                            <h2>11:30 am</h2>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="containt">
            <ion-row class="cab_info">
                <ion-col size="8">
                    <h2>Maruti Swift</h2>
                    <h3>Hatchback car</h3>
                </ion-col>
                <ion-col size="4" class="d-flex">
                    <div class="img_box end">
                        <img src="assets/imgs/car.png">
                    </div>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col size="6">
                    <h3>{{'seat_capacity' | translate}}</h3>
                    <h2>4 {{'traveller' | translate}}</h2>
                </ion-col>
                <ion-col size="6" class="ion-text-end">
                     <h3>{{'bags_allowed' | translate}}</h3>
                    <h2>2 {{'bags' | translate}}</h2>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>



<ion-footer class="ion-no-border">
    <div class="payment_info">
        <h1>{{'payment_info' | translate}}</h1>
        <h2 class="d-flex">{{'fare_charges' | translate}}<span class="end">$ 90.00</span></h2>
        <h2 class="d-flex">{{'convenince_charges' | translate}}<span class="end">$ 10.00</span></h2>
        <h2 class="d-flex">{{'cancellation_charges' | translate}}<span class="end">$ 5.00</span></h2>
    </div>
    <ion-button mode="md" size="large" shape="full" class="btn" (click)="payment()">{{'continue_to_pay' | translate}} $105.00</ion-button>
</ion-footer>