ion-header {
    ion-toolbar {
        position: absolute !important;

        ion-buttons ion-back-button {
            --color: var(--white);
            padding: 0 4px;
        }
    }

}

.banner {
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    padding-top: 53px;
    padding-bottom: 20px;

    .header_text {
        top: 0;
        padding: 0 0;
        background: none;
        padding-bottom: 20px;

        h2 {
            color: var(--white);
            font-size: 1rem;
            position: relative;
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 0.1rem;
                min-width: 25px;
                position: relative;
                height: 15px;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 4px;
                    height: 4px;
                    background: #32abff;
                    margin: auto;
                    border-radius: 50%;
                }
            }

        }
    }

    .banner_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 40px);

    }

    .form {
        padding: 0;
        padding-bottom: 27px;

        .traveling_time {
            //            margin: 13px 0;
            padding-left: 34px;

            .underline {
                width: 100%;
                height: 1px;
                background: rgba(246, 246, 246, 0.62);

            }

            h3 {
                margin: 13px 0;
                font-size: 0.6rem;
                color: var(--white);
                font-weight: 400;
                min-width: fit-content;
                opacity: .7;
                display: flex;
                align-items: center;

            }

            ion-icon {
                background: var(--white);
                color: var(--primary);
                text-align: center;
                border-radius: 50%;
                font-size: 1.25rem;
                min-width: 33px;
                height: 33px;
                line-height: 33px;
            }
        }

        ion-list {
            ion-item {
                margin-bottom: 0px;

                .item_inner {
                    align-items: center !important;

                    ion-icon {
                        color: var(--primary);
                        font-size: 1.2rem;
                        min-width: 34px;
                        top: 0;
                        margin-top: 20px;
                    }

                    .text_box {
                        width: 100%;

                        h4 {
                            margin: 0;
                            color: var(--text-light);
                            font-size: .8rem;
                            font-weight: 400;
                            padding-bottom: 6px;
                        }

                        h2 {
                            margin: 0;
                            color: var(--white);
                            font-weight: 400;
                            font-size: 1.15rem;
                        }
                    }

                }
            }
        }
    }

    .facilities {
        background: var(--bg-color);
        position: relative;
        overflow: hidden;
        border-radius: 50px;
        padding: 13px 0px 13px 0px;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        display: block !important;

        h2 {
            color: var(--text-dark);
            font-size: .76rem;
            font-weight: 700;
            width: auto;
            margin: 0 7px;
            display: inline-block !important;
            min-width: 59px;

            ion-icon {
                font-size: .95rem;
                min-width: 17px;
                position: relative;
                top: 2px;
            }

            &:first-child {
                margin-left: 13px;
            }

            &:last-child {
                margin-right: 13px;
            }

            &.disabled {
                opacity: .3;
            }
        }

    }
}

.container {
    padding: 0 20px;

    .flight_details {
        .flight_img {
            min-width: 34px;
            width: 34px;
            height: 34px;
            border-radius: 5px;
            margin-right: 10px;
        }

        .text {
            h2 {
                margin: 0;
                font-size: .8rem;
                font-weight: 700;
                margin-bottom: 3px;
                color: var(--text-balck);
            }

            h3 {
                margin: 0;
                font-size: .73rem;
                font-weight: 400;
                color: var(--text-light);
            }

            &.end {
                h2 {
                    display: flex;
                    align-items: center;
                    font-size: .72rem;

                    ion-icon {
                        width: 11px;
                        height: 11px;
                        border-radius: 3px;
                        margin-right: 7px;
                        display: block;
                    }

                    &.available {
                        ion-icon {
                            background: #e3e3e3;
                        }
                    }

                    &.booked {
                        ion-icon {
                            background: #ffa7a7;
                        }
                    }
                }
            }
        }
    }

    ion-list {
        margin: 0;
        padding: 0;
        background: none;
        padding-top: 25px;

        ion-item {
            --min-height: unset !important;
            --inner-padding-end: 0px;
            --inner-min-height: unset !important;
            --padding-start: 0;
            --background: var(--transparent) !important;
            padding: 0;
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            background: var(--bg-color);
            margin-bottom: 12px;
            height: 90px;
            border: 1px solid #969696;

            .item_inner {
                padding: 0;

                .bus_seats_label {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    top: 0;
                }


                h3 {
                    font-size: 0.8rem;
                    font-weight: 700;
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    transform: rotate(-180deg);
                    padding: 4px 0 8px 0;
                    margin: 0 3px;
                }

                .bus_seats {
                    display: block;
                    align-items: center;
                    align-items: center;
                    width: calc(100% - 40px);
                    margin-left: auto;

                    .seats_row {
                        display: flex;
                        align-items: flex-start;
                        width: 100%;

                        .seat_type {
                            .seat {
                                background: #e3e3e3;
                                display: block;
                                position: relative;
                                overflow: hidden;
                                margin: 4px 2px;
                                margin-bottom: 7px;
                                border-radius: 3px;
                                width: 46px;
                                height: 17px;
                                text-align: center;
                                position: relative;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto;
                                    width: 0;
                                    height: 0;
                                    background: var(--primary);
                                    transition: all .4s;

                                }

                                h2 {
                                    font-size: .75rem;
                                    font-weight: 400;
                                    color: var(--white);
                                    width: 0;
                                    height: 0;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    bottom: 0;
                                    right: 0;
                                    margin: auto;
                                    overflow: hidden;
                                    transition: all 0.4s;
                                    line-height: 17px;

                                }

                                &.booked {
                                    background: #ffa7a7;
                                }

                                &.selected {
                                    background: #ffa7a7;

                                    h2 {
                                        width: 100%;
                                        height: 100%;
                                        transition: all .4s;
                                    }

                                    &::before {
                                        width: 100%;
                                        height: 100%;
                                        transition: all .4s;

                                    }
                                }
                            }

                            &.last_seat {
                                .seat {
                                    width: 17px;
                                    height: 41px;
                                    margin: 4px 3px;
                                    margin-bottom: 0;
                                }

                            }
                        }

                        &.left_side {
                            .seat_type {
                                .seat {
                                    margin-bottom: 0;
                                    margin-top: 14px;
                                }

                                &.last_seat {
                                    .seat {
                                        margin-bottom: 0;
                                        margin-top: 0;
                                        height: 32px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

ion-footer {
    background: var(--primary);
    padding: 16px 18px;

    h2 {
        margin: 0;
        color: var(--white);
        font-size: 0.95rem;
        letter-spacing: 1.5px !important;

        small {
            font-size: .75rem;
            font-weight: 500;
            opacity: 0.5;
            letter-spacing: 0!important;
        }

        span {
            font-size: 0.95rem;
            font-weight: 500;
            letter-spacing: 1.5px !important;
        }
    }
}