ion-header {
    background: var(--white);

    ion-toolbar ion-title {
        padding: 0 15px !important;
    }

    ion-segment {
        border: none !important;
        background: var(--white) !important;
        border-radius: 0px;
        margin: 0;

        ion-segment-button {
            background: none !important;
            position: relative;
            font-size: 1rem;
            font-weight: 500;
            text-transform: unset !important;
            letter-spacing: 0;
            --background-checked: var(--transparent) !important;
            --background-focused: var(--transparent) !important;
            --border-width: 0 !important;
            --border-radius: 0 !important;
            box-shadow: none !important;
            --indicator-color: var(--transparent) !important;
            --indicator-box-shadow: none !important;
            --ripple-color: var(--transparent) !important;
            --color: var(--text-black) !important;
            --color-checked: var(--text-dark) !important;
            --color-hover: var(--text-dark) !important;
            --background-hover: var(--transparent) !important;
            --padding-start: 0;
            --padding-end: 0;
            min-height: 43px;
            width: 100%;
            min-width: fit-content;
            margin: 0 11px;
            padding: 0 5px;

            ion-label {
                margin: 11px 0;
                width: 100%;
            }

            &.segment-button-checked {
                color: var(--primary) !important;
                opacity: 1;
            }

            &:first-child {
                margin-left: 15px;
            }

            &:last-child {
                margin-right: 15px;
            }
        }

    }
}


ion-list {
    width: calc(100% - 20px);
    margin: 0 auto;
    background: none;
    padding-top: 13px;

    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        background: var(--white) !important;
        padding: 0;
        margin-bottom: 12px;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 6px 8px -6px rgba(0, 0, 0, .1);

        .item_inner {
            width: 100%;

            .item_header {
                background: #f7fafb;
                padding: 7px 12px;

                h2 {
                    margin: 0;
                    font-size: .95rem;
                    font-weight: 600;

                    span {
                        color: var(--primary);
                        letter-spacing: 0;
                        font-size: .95rem;
                        font-weight: 500;
                    }
                }
            }

            .item_details {
                padding: 12px 18px 9px 18px;

                .img_box {
                    min-width: 30px;
                    max-width: 30px;
                    margin-right: 25px;

                }

                .text_box {
                    h3 {
                        margin: 0;
                        font-size: .95rem;
                        font-weight: 600;
                        padding-bottom: 6px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    p {
                        margin: 0;
                        color: var(--text-dark);
                        font-size: 0.76rem;
                        font-weight: 400;
                        line-height: 16px;
                        opacity: .7;
                    }
                }
            }


        }
    }
}
