.form {

    ion-list {
        padding-top: 30px;
    }

    .img_box {
        max-width: 75px;
        min-width: 75px;
        height: 75px; 
        background: #c9c9c9;
        border-radius: 4px;

        ion-icon {
            color: var(--white);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            height: 100%;
            line-height: 75px;
            font-size: 1.65rem;
        }
    }
}
