<ion-header class="bg_transparent">
    <ion-toolbar>
        <div class="d-flex" style="align-items: flex-start !important">
            <ion-buttons slot="start">
                <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
            </ion-buttons>
            <ion-title>
                <h2>Manhattan, USA</h2>
                <p class="d-flex">
                    <span>{{'check_in' | translate}} 23 Jul </span>
                    <ion-icon></ion-icon>
                    <span>{{'check_out' | translate}} 27 Jul </span>
                    <ion-icon></ion-icon>
                    <span>2 {{'guests' | translate}}</span>
                </p>
            </ion-title>
        </div>
    </ion-toolbar>
    <div class="header_bg">
        <img src="assets/imgs/train.png">
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="map">
        <img src="assets/imgs/map.png">
    </div>
    <div class="near_palace" style="top:53px; left: 153px;">
        <ion-icon class="zmdi zmdi-pin"></ion-icon>
    </div>
    <div class="near_palace" style="top:40%; left: 33%;">
        <ion-icon class="zmdi zmdi-pin"></ion-icon>
    </div>
    <div class="near_palace" style="top:37%; left: 55%;">
        <ion-icon class="zmdi zmdi-pin"></ion-icon>
    </div>
    <div class="near_palace active" style="top:49%; left: 47%;">
        <ion-icon class="zmdi zmdi-pin"></ion-icon>
    </div>
    <div class="near_palace" style="top:68%; left: 28%;">
        <ion-icon class="zmdi zmdi-pin"></ion-icon>
    </div>
    <div class="near_palace" style="top:250px; left: 239px;">
        <ion-icon class="zmdi zmdi-pin"></ion-icon>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-item lines="none">
        <div class="item_inner">
            <ion-badge class="end">4.7 <ion-icon class="zmdi zmdi-star"></ion-icon>
            </ion-badge>
            <div class="scroll_container">
                <div class="img_box center_img">
                    <img src="assets/imgs/12.png" class="crop_img">
                </div>
                <div class="img_box center_img">
                    <img src="assets/imgs/13.png" class="crop_img">
                </div>
                <div class="img_box center_img">
                    <img src="assets/imgs/12.png" class="crop_img">
                </div>
                <div class="img_box center_img">
                    <img src="assets/imgs/13.png" class="crop_img">
                </div>
            </div>
            <div class="item_details">
                <h2 class="d-flex">Hotel Sky Garden <span class="end">$100.00</span></h2>
                <p class="d-flex">City park, Manhattan <span class="end">For 2 Guests</span></p>
            </div>
        </div>
    </ion-item>
</ion-footer>