<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
    <div class="banner">
        <div class="header_text">
            <h2>{{'search_bus' | translate}}</h2>
        </div>
        <div class="banner_bg center_img">
            <img src="assets/imgs/bus.png" class="crop_img">
        </div>
        <div class="form">
            <ion-list lines="none">
                <ion-item>
                    <div class="item_inner d-flex">
                        <ion-icon class="zmdi zmdi-long-arrow-up"></ion-icon>
                        <div class="text_box">
                            <h4>{{'boarding_from' | translate}}</h4>
                            <h2>Houstone, USA</h2>
                        </div>
                    </div>
                </ion-item>
                <h3>
                    <ion-icon class="zmdi zmdi-swap-vertical"></ion-icon>
                </h3>

                <ion-item>
                    <div class="item_inner d-flex">
                        <ion-icon class="zmdi zmdi-long-arrow-down"></ion-icon>
                        <div class="text_box">
                            <h4>{{'travelling_to' | translate}}</h4>
                            <h2>Manhattan, USA</h2>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-header>

<ion-content fullscreen>
    <div class="tab_container form">
        <div class="tab_contant">
            <ion-list lines="none">
                <ion-card>
                    <ion-row>
                        <ion-col size="5">
                            <h3>{{'pick_up_date' | translate}}</h3>
                            <ion-item (click)="calendar()">
                                <div class="text">
                                    <h2>23</h2>
                                    <h4>Jul 2019 <span>Tuesday</span></h4>
                                </div>
                            </ion-item>
                        </ion-col>
                        <ion-col size="7">
                            <div class="one_way_option">
                                <ion-icon class="zmdi zmdi-calendar-alt" (click)="calendar()"></ion-icon>
                                <h4>
                                    15 Jul
                                    <span>Today</span>
                                </h4>
                                <h4>
                                    16 Jul
                                    <span>Tomorrow</span>
                                </h4>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card>

                <ion-card>
                    <h3>{{'bus_type' | translate}}</h3>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item>
                                <div class="item_inner d-flex">
                                    <ion-select [(ngModel)]="class" interface="action-sheet" icon="undefined">
                                        <ion-select-option value="1">AC Sleeper</ion-select-option>
                                        <ion-select-option value="2">AC Seater</ion-select-option>
                                    </ion-select>
                                    <ion-icon class="zmdi zmdi-caret-down end ion-text-end"></ion-icon>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-list>
        </div>
    </div>
</ion-content>


<ion-footer class="ion-no-border">
    <ion-button mode="md" size="large" shape="full" class="btn" (click)="bus_list()">
        {{'show_result' | translate}}
    </ion-button>
</ion-footer>