ion-header {
    ion-toolbar {
        position: absolute !important;

        ion-buttons ion-back-button {
            --color: var(--white);
            padding: 0 4px;
        }
    }

}

.banner {
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    padding-top: 53px;
    padding-bottom: 20px;

    .header_text {
        top: 0;
        padding: 0 0;
        background: none;
        padding-bottom: 20px;

        h2 {
            color: var(--white);
            font-size: 1rem;
            position: relative;
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 0.1rem;
                min-width: 25px;
                position: relative;
                height: 15px;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 4px;
                    height: 4px;
                    background: #32abff;
                    margin: auto;
                    border-radius: 50%;
                }
            }

        }
    }

    .banner_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 40px);

    }

    .form {
        padding: 0;
        padding-bottom: 27px;

        .traveling_time {
            //            margin: 13px 0;
            padding-left: 34px;

            .underline {
                width: 100%;
                height: 1px;
                background: rgba(246, 246, 246, 0.62);

            }

            h3 {
                margin: 0;
                font-size: 0.6rem;
                color: var(--white);
                font-weight: 400;
                min-width: fit-content;
                opacity: .7;
                display: flex;
                align-items: center;

            }

            ion-icon {
                background: var(--white);
                color: var(--primary);
                text-align: center;
                border-radius: 50%;
                font-size: 1.25rem;
                min-width: 33px;
                height: 33px;
                line-height: 33px;
            }
        }

        ion-list {
            ion-item {
                margin-bottom: 0px;

                .item_inner {
                    align-items: center !important;

                    ion-icon {
                        color: var(--primary);
                        font-size: 1.2rem;
                        min-width: 34px;
                        top: 0;
                        margin-top: 20px;
                    }

                    .text_box {
                        width: 100%;

                        h4 {
                            margin: 0;
                            color: var(--text-light);
                            font-size: .8rem;
                            font-weight: 400;
                            padding-bottom: 6px;
                        }

                        h2 {
                            margin: 0;
                            color: var(--white);
                            font-weight: 400;
                            font-size: 1.15rem;
                        }
                    }

                }
            }
        }
    }

    .facilities {
        background: var(--bg-color);
        position: relative;
        overflow: hidden;
        border-radius: 50px;
        padding: 13px 0px 13px 0px;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        display: block !important;

        h2 {
            color: var(--text-dark);
            font-size: .76rem;
            font-weight: 700;
            width: auto;
            margin: 0 7px;
            display: inline-block !important;
            min-width: 59px;

            ion-icon {
                font-size: .95rem;
                min-width: 17px;
                position: relative;
                top: 2px;
            }

            &:first-child {
                margin-left: 13px;
            }

            &:last-child {
                margin-right: 13px;
            }

            &.disabled {
                opacity: .3;
            }
        }

    }
}

.container {
    padding: 0 20px;

    .flight_details {
        .flight_img {
            min-width: 34px;
            width: 34px;
            height: 34px;
            border-radius: 5px;
            margin-right: 10px;
        }

        .text {
            h2 {
                margin: 0;
                font-size: .8rem;
                font-weight: 700;
                margin-bottom: 3px;
                color: var(--text-balck);
            }

            h3 {
                margin: 0;
                font-size: .73rem;
                font-weight: 400;
                color: var(--text-light);
            }
        }
    }

    ion-list {
        margin: 0;
        padding: 0;
        background: none;
        padding-top: 25px;

        ion-item {
            --min-height: unset !important;
            --inner-padding-end: 0px;
            --inner-min-height: unset !important;
            --padding-start: 0;
            --highligh-color-focused: var(--transparent) !important;
            --background: var(--transparent) !important;
            --background-activated: var(--transparent) !important;
            --background-activated-opacity: 1;
            --background-hover: var(--transparent) !important;
            --ripple-color: var(--transparent) !important;
            background: var(--bg-color);
            margin-bottom: 12px;
            height: 57px;
            padding: 0px 15px 0px 15px;
            border-radius: 3px;
            overflow: hidden;

            ion-radio {
                position: absolute;
                z-index: 999;
                width: 100%;
                height: 100%;
                margin: 0;
                --color: var(--transparent) !important;
                --color-checked: var(--transparent) !important;

            }

            ion-label {
                width: 100% !important;
                position: relative;
                max-width: 100% !important;
                font-size: 1.1rem !important;
                color: var(--primary) !important;
                font-weight: 400;
                margin: 0;
                height: 57px;
                display: flex !important;
                align-items: center;

                .class_info {
                    h2 {
                        margin: 0;
                        color: var(--text-black);
                        font-weight: 700;
                        font-size: .8rem;
                        padding-bottom: 3px;
                        letter-spacing: .3px;
                    }

                    h3 {
                        margin: 0;
                        color: var(--text-light);
                        font-weight: 400;
                        font-size: .65rem;
                        letter-spacing: .5px;
                    }
                }

                h5 {
                    margin: 0;
                    font-size: .95rem;
                    font-weight: 500;
                }

            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                width: 0;
                height: 0;
                transition: all .3s;
                background: var(--primary);
                border-radius: 3px;

            }

            &.item-radio-checked {
                &::before {
                    height: 100%;
                    width: 100%;
                }

                ion-label {
                    color: var(--white) !important;

                    .class_info {
                        h2 {
                            color: var(--white) !important;
                        }

                        h3 {
                            color: var(--white) !important;
                        }
                    }
                }
            }

        }
    }
}